notebooks/__pycache__/
data/config.json
.env
data/__pycache__/
/review/
/trash/
/job_labeling.log
/cron_output.log
/job_labeling.log
/venv/
/data/job_labeling.log
/data/test.py
/model/__pycache__/
/app/node_modules/
/app/
/wandb/
/t5_model_output/
/t5_model_final/
.deepspeed_env
/evaluate/__pycache__